.product{
  font-family: 'Inria Serif', serif;
  padding: 10px;
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border:1px solid transparent;
  cursor: pointer;
  position: relative;
  min-width: 210px;
  margin-bottom: 20px;
  .free_shipping{
    display: inline-block;
    position: absolute;
    background: #000;
    right: 0;
    top:0;
    padding: 3px 7px;
    span{
      line-height: 24px;
      color:#fff;
      font-size:11px;
      font-weight: 300;
    }
  }
.product_image{
  img{
    width: 100%;
  }
}
.product_name{
  position: relative;
  width: 100%;
  text-align: center;
  padding: 20px;;
  min-height: 40px;
  span{
    font-weight: 700;
    font-size:18px;
  }
  &:before{
    content: "";
    width: 20px;
    height: 2px;
    background-color: #eabf00;
    position: absolute;
    margin-left: -10px;
    left:50%;
    bottom: 0;
  }
}
.product_price{
  padding: 10px;
  width: 100%;
  text-align: center;
  position: relative;

  small{
    font-size:80%
  }
  b{
    font-size:1.3em;
    margin-left:5px;
    font-weight: 700;
  }
  
}
.installment{
  width: 100%;
  text-align: center;
  small{
    font-size:70%
  }
  b{
    font-size:1.2em;
    margin-left:5px;
    font-weight: 700;
  }
}
.add_to_card{
  width: 100%;
  margin-top: 10px;
  button{
    width: 100%;
    background-color: #1b1a20;
    color: #fff;
    padding: 15px 0;
    margin-top: 10px;
    border:0;
    font-weight: 700;
    text-transform: uppercase;
    font-size:13px;
    cursor: pointer;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;

    &:hover{
      background-color: #eabf00;
    }
  }
}
  &:hover{
    border:1px solid #dbdbdb;
  }

  &:hover .add_to_card button{
    background-color: #eabf00;
  }
}